mainmenu "RT-Thread Configuration"

config ROOT_DIR
    string
    default "../../../.."

config BSP_DIR
    string
    default "."

config RT_Thread_DIR 
    string
    default "../.."

config RTT_DIR
    string
    default "../../rt-thread"

source "$RTT_DIR/Kconfig"
source "$RTT_DIR/bsp/stm32/libraries/Kconfig"
source "board/Kconfig"
source "$RT_Thread_DIR/drivers/Kconfig"
source "$ROOT_DIR/APP_Framework/Applications/Kconfig"
source "$ROOT_DIR/APP_Framework/Framework/Kconfig"
