menuconfig BSP_USING_SDIO
bool "Using CH376 SD card"
default n
select RESOURCES_SDIO
if BSP_USING_SDIO
config SDIO_BUS_NAME
    string "sdio bus name"
    default "sdio"

config SDIO_DRIVER_NAME
    string "sdio driver name"
    default "sdio_drv"

config SDIO_DEVICE_NAME
    string "sdio device name"
    default "sdio_dev"
endif

menuconfig BSP_USING_USB
bool "Using CH376 USB"
default n
select RESOURCES_USB
if BSP_USING_USB
config USB_BUS_NAME
    string "USB bus name"
    default "usb"

config USB_DRIVER_NAME
    string "USB driver name"
    default "usb_drv"

config USB_DEVICE_NAME
    string "USB device name"
    default "usb_dev"
endif
