
config PERCEPTION_D124
        bool "Using D124"
        default n

        if PERCEPTION_D124
                config SENSOR_DEVICE_D124
                        string "D124 sensor name"
                        default "d124_1"
                
                config SENSOR_QUANTITY_D124_VOICE
                        string "D124 quantity PM1.0 name"
                        default "voice_1"
                
                config SENSOR_DEVICE_D124_DEV
                        string "D124 device name"
                        default "/dev/extuart_dev4"

                config SENSOR_DEVICE_D124_DEV_EXT_PORT
                        int "if D124 device using extuart, choose port"
                        default "4"
        endif
