menuconfig BSP_USING_USART1
    bool "Enable USART1"
    default y
    if BSP_USING_USART1
        config SERIAL_BUS_NAME_1
            string "serial bus 1 name"
            default "usart1"
        config SERIAL_DRV_NAME_1
            string "serial bus 1 driver name"
            default "usart1_drv"
        config SERIAL_1_DEVICE_NAME_0
                string "serial bus 1 device 0 name"
                default "usart1_dev1"   
    endif

menuconfig BSP_USING_USART2
    bool "Enable USART2"
    default y
    if BSP_USING_USART2
        config SERIAL_BUS_NAME_2
            string "serial bus 2 name"
            default "usart2"
        config SERIAL_DRV_NAME_2
            string "serial bus 2 driver name"
            default "usart2_drv"
        config SERIAL_2_DEVICE_NAME_0
                string "serial bus 2 device 0 name"
                default "usart2_dev2"   
    endif

menuconfig BSP_USING_USART3
    bool "Enable USART3"
    default y
    if BSP_USING_USART3
        config SERIAL_BUS_NAME_3
            string "serial bus 3 name"
            default "usart3"
        config SERIAL_DRV_NAME_3
            string "serial bus 3 driver name"
            default "usart3_drv"
        config SERIAL_3_DEVICE_NAME_0
                string "serial bus 3 device 0 name"
                default "usart3_dev3"   
    endif

menuconfig BSP_USING_UART4
    bool "Enable UART4"
    default n
    if BSP_USING_UART4
        config SERIAL_BUS_NAME_4
            string "serial bus 4 name"
            default "uart4"
        config SERIAL_DRV_NAME_4
            string "serial bus 4 driver name"
            default "uart4drv"
        config SERIAL_4_DEVICE_NAME_0
                string "serial bus 4 device 0 name"
                default "uart4_dev4"   
    endif

menuconfig BSP_USING_UART5
    bool "Enable UART5"
    default n
    if BSP_USING_UART5
        config SERIAL_BUS_NAME_5
            string "serial bus 5 name"
            default "uart5"
        config SERIAL_DRV_NAME_5
            string "serial bus 5 driver name"
            default "uart5_drv"
        config SERIAL_5_DEVICE_NAME_0
                string "serial bus 5 device 0 name"
                default "uart5_dev5"   
    endif
