menuconfig BSP_USING_UART_HS
    bool "Enable High Speed UART"
    default y
    if BSP_USING_UART_HS
        config SERIAL_BUS_NAME_0
            string "serial high speed bus 0 name"
            default "uart0"
        config SERIAL_DRV_NAME_0
            string "serial high speed bus 0 driver name"
            default "uart0_drv"
        config SERIAL_0_DEVICE_NAME_0
            string "serial high speed bus 0 device 0 name"
            default "uart0_dev0"   
    endif

menuconfig BSP_USING_UART1
    bool "Enable UART1"
    default y
    if BSP_USING_UART1
        config BSP_UART1_TXD_PIN
            int "uart1 TXD pin number"
            default 20
        config BSP_UART1_RXD_PIN
            int "uart1 RXD pin number"
            default 21
        config SERIAL_BUS_NAME_1
            string "serial bus 1 name"
            default "uart1"
        config SERIAL_DRV_NAME_1
            string "serial bus 1 driver name"
            default "uart1_drv"
        config SERIAL_1_DEVICE_NAME_0
                string "serial bus 1 device 0 name"
                default "uart1_dev1"   
    endif

menuconfig BSP_USING_UART2
    bool "Enable UART2"
    default y
    if BSP_USING_UART2
        config BSP_UART2_TXD_PIN
            int "uart2 TXD pin number"
            default 28
        config BSP_UART2_RXD_PIN
            int "uart2 RXD pin number"
            default 27
        config SERIAL_BUS_NAME_2
            string "serial bus 2 name"
            default "uart2"
        config SERIAL_DRV_NAME_2
            string "serial bus 2 driver name"
            default "uart2_drv"
        config SERIAL_2_DEVICE_NAME_0
                string "serial bus 2 device 0 name"
                default "uart2_dev2"   
    endif

menuconfig BSP_USING_UART3
    bool "Enable UART3"
    default y
    if BSP_USING_UART3
        config BSP_UART3_TXD_PIN
            int "uart3 TXD pin number"
            default 22
        config BSP_UART3_RXD_PIN
            int "uart3 RXD pin number"
            default 23
        config SERIAL_BUS_NAME_3
            string "serial bus 3 name"
            default "uart3"
        config SERIAL_DRV_NAME_3
            string "serial bus 3 driver name"
            default "uart3_drv"
        config SERIAL_3_DEVICE_NAME_0
                string "serial bus 3 device 0 name"
                default "uart3_dev3"   
    endif
