if BSP_USING_I2C
    config I2C_BUS_NAME_1
        string "i2c bus 1 name"
        default "i2c1"
    config I2C_DRV_NAME_1
        string "i2c bus 1 driver name"
        default "i2c1_drv"
    config I2C_1_DEVICE_NAME_0
            string "i2c bus 1 device 0 name"
            default "i2c1_dev0"     
endif
