config BSP_USING_SPI1
bool "Using spi1  "
default y


if BSP_USING_SPI1
    config SPI_BUS_NAME_1
        string "spi bus 1 name"
        default "spi1"
    config SPI_1_DRV_NAME
        string "spi bus 1 driver name"
        default "spi1_drv"        
    config BSP_SPI1_CLK_PIN
        int "spi1 clk pin number"
        default 29
    config BSP_SPI1_D0_PIN
        int "spi1 d0 pin number"
        default 30
    config BSP_SPI1_D1_PIN
        int "spi1 d1 pin number"
        default 31
    menuconfig BSP_SPI1_USING_SS0
        bool "SPI1 Enable SS0"
        default y
    if BSP_SPI1_USING_SS0
        config SPI_1_DEVICE_NAME_0
            string "spi bus 1 device 0 name"
            default "spi1_dev0"             
        config BSP_SPI1_SS0_PIN
            int "spi1 ss0 pin number"
            default 32
    endif
    menuconfig BSP_SPI1_USING_SS1
        bool "SPI1 Enable SS1"
        default y
    if BSP_SPI1_USING_SS1
        config SPI_1_DEVICE_NAME_1
            string "spi bus 1 device 1 name"
            default "spi1_dev1"           
        config BSP_SPI1_SS1_PIN
            int "spi1 ss1 pin number"
            default 33
    endif
    menuconfig BSP_SPI1_USING_SS2
        bool "SPI1 Enable SS2"
        default n
    if BSP_SPI1_USING_SS2
        config SPI_1_DEVICE_NAME_2
            string "spi bus 1 device 2 name"
            default "spi1_dev2"              
        config BSP_SPI1_SS2_PIN
            int "spi1 ss2 pin number"
            default 26
    endif
    menuconfig BSP_SPI1_USING_SS3
        bool "SPI1 Enable SS3"
        default n
    if BSP_SPI1_USING_SS3
        config SPI_1_DEVICE_NAME_3
            string "spi bus 1 device 3 name"
            default "spi1_dev3"             
        config BSP_SPI1_SS3_PIN
            int "spi1 ss3 pin number"
            default 27
    endif
endif
