
menu "Perception"

menuconfig PERCEPTION_SENSORDEVICE
        bool "Using sensor devices"
        default n

if PERCEPTION_SENSORDEVICE
        menuconfig PERCEPTION_CO2
                bool "Using CO2 sensor device"
                default n
        if PERCEPTION_CO2
        source "$KERNEL_DIR/framework/perception/co2/Kconfig"
        endif

        menuconfig PERCEPTION_PM
                bool "Using PM sensor device"
                default n
        if PERCEPTION_PM
        source "$KERNEL_DIR/framework/perception/pm/Kconfig"
        endif

        menuconfig PERCEPTION_VOICE
                bool "Using voice sensor device"
                default n
        if PERCEPTION_VOICE
        source "$KERNEL_DIR/framework/perception/voice/Kconfig"
        endif

        menuconfig PERCEPTION_TEMPERATURE
                bool "Using temperature sensor device"
                default n
        if PERCEPTION_TEMPERATURE
        source "$KERNEL_DIR/framework/perception/temperature/Kconfig"
        endif

        menuconfig PERCEPTION_HUMIDITY
                bool "Using humidity sensor device"
                default n
        if PERCEPTION_HUMIDITY
        source "$KERNEL_DIR/framework/perception/humidity/Kconfig"
        endif
endif

endmenu

